<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>MatGraph</title>
    </head>
    <body>
        <div id="header">
            <h2 id="projectName">MatGraph</h2>
            <a class="about" href="{{ url_for('about') }}">Про проект</a>
        </div>
        <main>
            <div id="showGraph">
                <input id="labelYInput" class="labels" type="text" placeholder="Пометка по Y">
                <div id="graphContainer">
                    <img id="graph" alt="Перенесите вашу таблицу в эту зону">
                    <input id="uploadInput" type="file" accept="application/excel, text/plain" hidden>
                    <label for="uploadInput">или нажмите <span id="uploadButton">сюда</span></p>
                </div>
                <input id="labelXInput" class="labels" type="text" placeholder="Пометка по X">
            </div>
        </main>
    </body>
    <script type="module" src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</html>